<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>

                <NavLink class="nav-link" href="/canchas">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-futbol"></i>
                    </div>
                    Canchas
                </NavLink>

                <NavLink class="nav-link" href="/usuarios">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-users"></i>
                    </div>
                    Usuarios
                </NavLink>

                <NavLink class="nav-link" href="/metodos-pago">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-money-check-alt"></i>
                    </div>
                    Métodos de pago
                </NavLink>

                <NavLink class="nav-link" href="/estados-reserva">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-list"></i>
                    </div>
                    Estados de reserva
                </NavLink>
                <NavLink class="nav-link" href="/pagos">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-list"></i>
                    </div>
                    Pagos
                </NavLink>
                <NavLink class="nav-link" href="/reservas">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-list"></i>
                    </div>
                    Reservas
                </NavLink>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Start Bootstrap
        </div>
    </nav>
</div>

