<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ReservasCanchas-Web</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="sb-sidenav-menu" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Canchas">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Canchas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Usuarios">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Usuarios
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Reservas">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Reservas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Pagos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Pagos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MetodosDePago">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Metodos de pago
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="EstadosDeReserva">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Estados de reserva
            </NavLink>
        </div>
    </nav>
</div>

